version: "3.8"
services:
  php:
    build:
      args:
        user: php
        uid: 1000
      context: .
      dockerfile: .docker/Dockerfile
    container_name: php
    working_dir: /var/www
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    volumes:
      - ./:/var/www
      - ./.docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    depends_on:
      - mysql
      - redis

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./.docker/nginx/conf.d/app.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  node:
    image: node:22-alpine
    container_name: node
    working_dir: /var/www
    ports:
      - "5173:5173"
    volumes:
      - ./:/var/www
    command: sh -c "if [ -f package.json ]; then npm install && npm run dev; else echo '⚠️ package.json not found, skipping npm'; fi"
    depends_on:
      - php

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_ROOT_HOST: "%"
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_PASSWORD: "${DB_DATABASE}"
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    container_name: phpmyadmin
    depends_on:
      - mysql
    ports:
      - "4040:80"
    environment:
      PMA_ARBITRARY: 1

  redis:
    image: redis:5
    container_name: redis
    volumes:
      - redisdata:/data

volumes:
  mysql_data:
  redisdata:
