version: "3.8"
services:
  php:
    build:
      args:
        user: php
        uid: 1000
      context: .
      dockerfile: .docker/Dockerfile
    container_name: php
    working_dir: /var/www
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    volumes:
      - ./:/var/www
      - ./.docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    depends_on:
      - postgres
      - redis

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./.docker/nginx/conf.d/app.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  node:
    image: node:22-alpine
    container_name: node
    working_dir: /var/www
    ports:
      - "5173:5173"
    volumes:
      - ./:/var/www
    command: sh -c "if [ -f package.json ]; then npm install && npm run dev; else echo '⚠️ package.json not found, skipping npm'; fi"
    depends_on:
      - php

  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: "${DB_USERNAME:-postgres}"
      POSTGRES_PASSWORD: "${DB_PASSWORD:-secret}"
      POSTGRES_DB: "${DB_DATABASE:-school}"
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "4040:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin

  redis:
    image: redis:5
    container_name: redis
    volumes:
      - redisdata:/data

volumes:
  postgres_data:
  redisdata:
